h1, p { 
	text-align: center;
}
#wrapper {
	margin: 0 auto;
	width: 900px;
}
#start {
	margin-left: 428px;
}
form h2 {
	padding-top: 20px;
	font-size: 30px;
}
form {
	margin: 0 auto;
	width: 900px;
	height: 300px; 
	background-color: #33fff6;
	font-size: 25px;
}
input {
	margin-left: 25px;
}
legend {
	margin: 0 auto;
}
label {
	padding-left: 10px;
	margin-bottom: 20px;
}
.questionsCounter {
	margin: 0 auto;
	width: 900px; 
}